Makefile.settings
config.h
bitlbee
user-guide.txt
user-guide.html
help.txt
build-arch-stamp
build-stamp
tags
decode
encode
bitlbee.pc
.gdb_history
tests/check
*.gcda
*.gcov
*.gcno
*.o
*.so
coverage
bitlbee.info
bitlbee.exe
.depend
DEADJOE
callgrind.out.*
cov-int
.bzr
.bzrignore
.git
.gitignore
bitlbee.service
bitlbee@.service
*~
debian/bitlbee-common
debian/bitlbee-dev
debian/bitlbee-libpurple
debian/bitlbee-plugin-otr
debian/build-libpurple
debian/build-native
debian/files
.clangd
compile_commands.json
