#!/bin/sh

set -e

. /usr/share/debconf/confmodule
[ -f /etc/default/bitlbee ] && . /etc/default/bitlbee

db_title BitlBee

if [ -n "$BITLBEE_PORT" ]; then
	db_set bitlbee/serveport "$BITLBEE_PORT"
else
	db_get bitlbee/serveport
	if [ "$RET" = "stillhavetoask" ]; then
		db_set bitlbee/serveport 6667;
	fi
fi

if db_input medium bitlbee/serveport; then
	db_go;
fi
