Source: bitlbee
Section: net
Priority: optional
Maintainer: Wilmer van der Gaast <wilmer@gaast.net>
Standards-Version: 3.5.9
Build-Depends: libglib2.0-dev | libglib-dev, libgnutls-dev | libnss-dev (>= 1.6), debconf-2.0, po-debconf

Package: bitlbee
Architecture: any
Depends: ${shlibs:Depends}, adduser, net-tools, ${debconf-depends}, debianutils (>= 1.16)
Description: An IRC to other chat networks gateway
 This program can be used as an IRC server which forwards everything you
 say to people on other chat networks: Jabber, ICQ, AIM, MSN and Yahoo.
