Source: bitlbee
Section: net
Priority: optional
Maintainer: Wilmer van der Gaast <wilmer@gaast.net>
Uploaders: Jelmer Vernooĳ <jelmer@debian.org>
Standards-Version: 3.9.8
Build-Depends: libglib2.0-dev (>= 2.4), libevent-dev, libgnutls28-dev | libgnutls-dev | gnutls-dev, po-debconf, libpurple-dev, libotr5-dev, debhelper (>= 9), python3, libjsonparser-dev
Homepage: https://www.bitlbee.org/
Vcs-Git: https://github.com/bitlbee/bitlbee.git
Vcs-Browser: https://github.com/bitlbee/bitlbee

Package: bitlbee
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, debianutils (>= 1.16), bitlbee-common (= ${binary:Version})
Conflicts: bitlbee-libpurple
Replaces: bitlbee-libpurple
Description: IRC to other chat networks gateway (default version)
 This program can be used as an IRC server which forwards everything you
 say to people on other chat networks: Jabber (which includes Google
 Talk), and Twitter.

Package: bitlbee-libpurple
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, debianutils (>= 1.16), bitlbee-common (= ${binary:Version})
Conflicts: bitlbee
Replaces: bitlbee
Description: IRC to other chat networks gateway (using libpurple)
 This program can be used as an IRC server which forwards everything you
 say to people on other chat networks: Jabber (which includes Google
 Talk), and Twitter.
 .
 This package contains a version of BitlBee that uses the libpurple instant
 messaging library instead of built-in code, which adds support for more IM
 protocols (all protocols supported by Pidgin/Finch) and features (like file
 transfers), at the price of being less lightweight.
 .
 If you don't need the extra features, it's better to use the built-in code.

Package: bitlbee-common
Architecture: any
Depends: ${misc:Depends}, adduser
Replaces: bitlbee
Description: IRC to other chat networks gateway (common files/docs)
 This program can be used as an IRC server which forwards everything you
 say to people on other chat networks: Jabber (which includes Google
 Talk), and Twitter.
 .
 This package contains common files (mostly documentation) for bitlbee and
 bitlbee-libpurple.

Package: bitlbee-dev
Architecture: any
Depends: ${misc:Depends}, bitlbee (= ${binary:Version}) | bitlbee-libpurple (= ${binary:Version}), bitlbee-common (= ${binary:Version})
Description: IRC to other chat networks gateway (dev files)
 This program can be used as an IRC server which forwards everything you
 say to people on other chat networks: Jabber (which includes Google
 Talk), and Twitter.
 .
 This package holds development stuff for compiling plug-ins.

Package: bitlbee-plugin-otr
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, bitlbee (= ${binary:Version}) | bitlbee-libpurple (= ${binary:Version}), bitlbee-common (= ${binary:Version})
Description: IRC to other chat networks gateway (OTR plugin)
 This program can be used as an IRC server which forwards everything you
 say to people on other chat networks: Jabber (which includes Google
 Talk), and Twitter.
 .
 This package contains a plugin that adds support for Off-The-Record
 encryption of instant messages.
