Source: bitlbee
Section: net
Priority: optional
Maintainer: Wilmer van der Gaast <wilmer@gaast.net>
Uploaders: Jelmer Vernooij <jelmer@samba.org>
Standards-Version: 3.9.1
Build-Depends: libglib2.0-dev (>= 2.4), libevent-dev, gnutls-dev | libgnutls-dev, po-debconf, libpurple-dev, libotr2-dev, debhelper (>= 6.0.7~), asciidoc
Homepage: http://www.bitlbee.org/
Vcs-Bzr: http://code.bitlbee.org/bitlbee/
DM-Upload-Allowed: yes

Package: bitlbee
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, debianutils (>= 1.16), bitlbee-common (= ${source:Version})
Conflicts: bitlbee-libpurple
Replaces: bitlbee-libpurple
Description: An IRC to other chat networks gateway (default version)
 This program can be used as an IRC server which forwards everything you
 say to people on other chat networks: Jabber (which includes Google Talk
 and Facebook Chat), ICQ, AIM, MSN, Yahoo! and Twitter/Identica/Status.net.

Package: bitlbee-libpurple
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, debianutils (>= 1.16), bitlbee-common (= ${source:Version})
Conflicts: bitlbee
Replaces: bitlbee
Description: An IRC to other chat networks gateway (using libpurple)
 This program can be used as an IRC server which forwards everything you
 say to people on other chat networks: Jabber (which includes Google Talk
 and Facebook Chat), ICQ, AIM, MSN, Yahoo! and Twitter/Identica/Status.net.
 .
 This package contains a version of BitlBee that uses the libpurple instant
 messaging library instead of built-in code, which adds support for more IM
 protocols (all protocols supported by Pidgin/Finch) and features (like file
 transfers), at the price of being less lightweight.
 .
 If you don't need the extra features, it's better to use the built-in code.

Package: bitlbee-common
Architecture: all
Depends: ${misc:Depends}, net-tools, adduser
Replaces: bitlbee
Description: An IRC to other chat networks gateway (common files/docs)
 This program can be used as an IRC server which forwards everything you
 say to people on other chat networks: Jabber (which includes Google Talk
 and Facebook Chat), ICQ, AIM, MSN, Yahoo! and Twitter/Identica/Status.net.
 .
 This package contains common files (mostly documentation) for bitlbee and
 bitlbee-libpurple.

Package: bitlbee-dev
Architecture: all
Depends: ${misc:Depends}, bitlbee (>= ${source:Version}), bitlbee (<< ${source:Version}.1~), bitlbee-common (= ${source:Version})
Description: An IRC to other chat networks gateway (dev files)
 This program can be used as an IRC server which forwards everything you
 say to people on other chat networks: Jabber (which includes Google Talk
 and Facebook Chat), ICQ, AIM, MSN, Yahoo! and Twitter/Identica/Status.net.
 .
 This package holds development stuff for compiling plug-ins.

Package: bitlbee-plugin-otr
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, bitlbee (= ${binary:Version}) | bitlbee-libpurple (= ${binary:Version}), bitlbee-common (= ${source:Version})
Description: An IRC to other chat networks gateway (OTR plugin)
 This program can be used as an IRC server which forwards everything you
 say to people on other chat networks: Jabber (which includes Google Talk
 and Facebook Chat), ICQ, AIM, MSN, Yahoo! and Twitter/Identica/Status.net.
 .
 This package contains a plugin that adds support for Off-The-Record
 encryption of instant messages.

Package: bitlbee-plugin-skype
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, bitlbee (= ${binary:Version}) | bitlbee-libpurple (= ${binary:Version}), bitlbee-common (= ${source:Version})
Recommends: skyped
Description: An IRC to other chat networks gateway (Skype plugin)
 This program can be used as an IRC server which forwards everything you
 say to people on other chat networks: Jabber (which includes Google Talk
 and Facebook Chat), ICQ, AIM, MSN, Yahoo! and Twitter/Identica/Status.net.
 .
 This package contains a plugin that adds support for the Skype IM network.
 You need to download and install the Skype client for this to work.

Package: skyped
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, python (>= 2.5), python-gnutls, python-skype (>=0.9.28.7)
Recommends: skype
Description: Daemon to control Skype remotely
 Daemon to control the GUI Skype client. Currently required to control Skype
 from the BitlBee IRC2IM gateway. Skyped and Skype can run on a different
 host than the BitlBee server, the communication is encrypted.
 .
 You need to download and install the Skype client for this to work.
